In [1]:
import pandas as pd

In [2]:
from sklearn.model_selection import train_test_split

In [15]:
df = pd.read_csv('/home/osung/data/korean/commercial/csv/ad_total_clean.tsv', sep='\t')

In [18]:
df2 = pd.read_csv('/home/osung/data/korean/commercial/csv/ad_total.tsv', sep='\t')

In [19]:
len(df)

17738

In [20]:
len(df2)

17320

In [28]:
type(df2.iloc[0].ad)

numpy.bool_

In [21]:
df

                                                    text    ad
0      컴투스가 글로벌 콘텐츠 발굴을 위한 스토리 공모전 컴투스 글로벌 게임 문학상 201...  True
1      엔트리브소프트대표 서관희는 조이시티가 개발한 온라인 농구게임 프리스타일에서 한국과 ...  True
2      엔씨소프트가 문화 축제 피버 페스티벌FEVER FESTIVAL 2018을 내달 14...  True
3      스마일게이트 희망스튜디오이사장 권혁빈는 지난 26일 스마일게이트 본사에서 스마일게이...  True
4      중소 모바일게임사들의 개발 및 창작 활동을 지원하기 위한 모바일게임 스타 어워즈가 ...  True
...                                                  ...   ...
17733  KB증권 은행보험 등 계열사와 손잡고 우수고객에 토털 자산관리 상담  선도 증권사가...  True
17734  신한금융투자 중위험 중수익 따박따박 연중이벤트 실시 신한금융투자는 박스권 장세에 적...  True
17735  저금리 시대의 투자대안 KDB대우 배당성장지수 랩 저성장저금리 지속과 인구 고령화 ...  True
17736  BNP파리바 카디프생명 프리미엄자산관리 변액보험 출시 BNP파리바 카디프생명은 씨티...  True
17737  신한명품 분할매수형 ETF랩 30 모집  신한금융투자는 농산물 지수에 투자하는 신한...  True

[17738 rows x 2 columns]

In [45]:
df_nan = df[df['ad'] != True][df['ad'] != False]

/tmp/ipykernel_1370948/2875908122.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_nan = df[df['ad'] != True][df['ad'] != False]

In [47]:
df_nan['length'] = df_nan['text'].apply(len)

In [52]:
df_nan.loc[3327].text

'26일부터 2월1일까지 진행된다'

In [36]:
df.loc[385].ad

nan

In [22]:
df2

                                                    text    ad
0      컴투스가 글로벌 콘텐츠 발굴을 위한 스토리 공모전 '컴투스 글로벌 게임 문학상 20...  True
1      엔트리브소프트(대표 서관희)는 조이시티가 개발한 온라인 농구게임 '프리스타일'에서 ...  True
2      엔씨소프트가 문화 축제 '피버 페스티벌(FEVER FESTIVAL) 2018'을 내...  True
3      스마일게이트 희망스튜디오(이사장 권혁빈)는 지난 26일 스마일게이트 본사에서 스마일...  True
4      중소 모바일게임사들의 개발 및 창작 활동을 지원하기 위한 '모바일게임 스타 어워즈'...  True
...                                                  ...   ...
17315  KB증권, 은행·보험 등 계열사와 손잡고 우수고객에 `토털 자산관리 상담` ◆ 선도...  True
17316  신한금융투자 '중위험 중수익, 따박따박' 연중이벤트 실시 신한금융투자는 박스권 장세...  True
17317  저금리 시대의 투자대안 'KDB대우 배당성장지수 랩' 저성장·저금리 지속과 인구 고...  True
17318  BNP파리바 카디프생명, '프리미엄자산관리 변액보험' 출시 BNP파리바 카디프생명은...  True
17319  ‘신한명품 분할매수형 ETF랩 3.0’ 모집 外 신한금융투자는 농산물 지수에 투자하...  True

[17320 rows x 2 columns]

In [24]:
df2.ad.describe()

count     17320
unique        2
top       False
freq      10196
Name: ad, dtype: object

In [6]:
train_df, test_df = train_test_split(df, test_size=0.3, random_state=42)

In [7]:
print(f'Train shape: {train_df.shape}')
print(f'Test shape: {test_df.shape}')

Train shape: (12124, 2)
Test shape: (5196, 2)

In [8]:
train_df.to_csv('/home/osung/data/korean/commercial/csv/ad_train.tsv', sep='\t', index=False)

In [9]:
test_df.to_csv('/home/osung/data/korean/commercial/csv/ad_test.tsv', sep='\t', index=False)

In [56]:
df2['length'] = df2['text'].apply(len)

In [54]:
df['length'].describe()

count    17738.000000
mean       913.237174
std        470.559063
min         13.000000
25%        602.000000
50%        812.000000
75%       1112.000000
max       4150.000000
Name: length, dtype: float64

In [57]:
df2['length'].describe()

count    17320.000000
mean       986.093533
std        479.875599
min        224.000000
25%        651.000000
50%        870.000000
75%       1183.000000
max       4319.000000
Name: length, dtype: float64

In [65]:
df2[df2['ad'] != True]

                                                    text     ad  length
7054   신협사회공헌재단(이사장 문철상)은지난 22일 경북 포항시청을 방문하여 지진 피해 복...  False     866
7055   최근 미국이 기준금리를 0.25% 인상해 10년 만에 연 2%대 기준금리로 올라서면...  False    1576
7056   지난 1일을 시작으로 올해 최저임금이 8350원으로 올랐다.\n지난해 최저임금(73...  False    2147
7057   30일 국회 과학기술정보방송통신위원회가 개최한 한상혁 방송통신위원회 위원장 후보자 ...  False    1714
7058   30일부터 기존 은행 앱에서 타 은행 계좌 송금 거래를 할 수 있는 '오픈뱅킹' 제...  False    2347
...                                                  ...    ...     ...
17245  코로나19 확진자가 확진 판정을 받기 전 KT광화문 지사를 방문한 것으로 조사돼 방...  False     815
17246  박재욱 VCNC 대표가 '타다 금지법'의 국회 법제사법위원회 통과와 관련 페이스북에...  False     723
17247  “드라이브 스루(Drive-Thru) 이동진료소, 자가진단 앱(애플리케이션) 등과 ...  False     860
17248  국내 연구진이 미세먼지에 포함된 유해물질 농도를 예측해 인체에 실제로 미치는 위험성...  False     931
17249  주주들이 PC나 모바일로 주주총회 현장을 실시간으로 시청하고 소통하는 '온라인 주총...  False    1235

[10196 rows x 3 columns]

In [64]:
df2['ad'].dropna()

0        True
1        True
2        True
3        True
4        True
         ...
17315    True
17316    True
17317    True
17318    True
17319    True
Name: ad, Length: 17320, dtype: bool